<style>
    body {
        background-image: url("/static/images/pirate.png");
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    form {
        margin-top: 100px;
        text-align: center;
    }
    
        .title {
            font-size: 70x;
            font-weight: bold;
            color:white; 
            text-align: center;
            -webkit-text-stroke: 2px black; /* width and color of stroke */
            font-family: 'Shadows Into Light', cursive;
            }
            </style>
        }
    </style>
    <h1 class="title">Image Generator</h1>
    <div id="loading" style="display: none;">Please wait...</div>
<form method="post">
    {% csrf_token %}
    <input type="text" name="prompt" placeholder="Enter a prompt">
    <button type="submit">Generate</button>
</form>
{% if image_url %}
    <img src="{{ image_url }}" alt="Generated image">
{% endif %}
